<!DOCTYPE html>
<html>
  <head>
    <title>Hamro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/nav' %>

    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
